// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  color:red;
  text-align: center;
  padding: 100px;
}

.navbar ul {
  list-style: none;
}

header {
background-color: darkslategray;
}
