<header class="navbar navbar-fixed-top navbar-inverse">
  <nav>
    <ul>
      <li>
        <%= link_to "top",root_url %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", top_index_path %>
      </li>
    </ul>
  </nav>
</header>
